body {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(2, 1, 17);
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 20px;
}
header {
    margin: 15px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

img {
    width: 330px;
    height: 250px;
    border-radius: 10%;
    margin-top: 20px;
}
.center{
    text-align: center;
}
    footer img {
        width: 20px;
        height: 20px;
    }
    footer {
        display: flex;
        justify-content: center;
    }
    footer a {
        margin: 15px;
    }